<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 p-flex p-flex-aling-center">
        <ul>
          <li class="p-hamburger">
            <span></span>
            <span></span>
            <span></span>
          </li>
          <li>
            <img
              src="assets/img/h_search.png"
              class="search-icon"
              alt="Icono para busquedas"
            />
          </li>
        </ul>
        <ul>
          <li>
            <a href="#" [routerLink]="['/']" [routerLinkActive]="['is-active']">
              Home
            </a>
          </li>
          <li>
            <a href="#">Sobre mí</a>
          </li>
          <li>
            <a href="#">Portafolio</a>
          </li>
          <li>
            <a href="#">Contactame</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
