<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
      </div>
      <div class="col-sm-7 p-rgt-section">
        <div>
          <span class="p-tag"> Fashion </span>
          <h1 class="mt-4">Elyse Maguire</h1>
          <p class="p-description mt-3 mb-4">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam
            aliquid dolorem sapiente cumque temporibus. Dicta delectus debitis
            minus quibusdam vel commodi, deserunt aspernatur quis, ducimus dolor
            enim hic. Tempore, adipisci.
          </p>
          <a href="#" class="p-readmore">
            Leer Más
            <i class="arrow-right arrow-right-move ml-2"></i>
          </a>
        </div>

        <div>
          <h6>Suscríbete al boletín de noticias</h6>
          <form class="form-inline" autocomplete="off">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                placeholder="Ingresa tu email"
                autocomplete="off"
              />
              <button class="btn btn-warning">Subscribirse</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
